<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Use cases<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="patient_journey.html">Patient Journey</a>
      </li>
      <li>
        <a href="physician_tools.html">Physican clinic tools</a>
      </li>
      <li>
        <a href="registry.html">Registry data collection</a>
      </li>
      <li>
        <a href="clinic_optimisation.html">Clinic Optimisation</a>
      </li>
      <li>
        <a href="life_science.html">Life science communication</a>
      </li>
    </ul>
  </li>
  <li><a href="profiles.html">Profiles</a></li>
  <li><a href="extensions.html">Extensions</a></li>
  <li><a href="terminology.html">Terminology</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>
